<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARS Wiki</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type = "text/css" href="css/style.css"
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class = "heading">Latest Mars News</h2>
        <h3>{{mars_data.latest_news_title}}</h4>
         <h4>{{mars_data.latest_news_body}}</p>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-8 col-sm-8 col-xs-8">
        <h2 class="heading">Featured MARS Image</h2>
        <img src={{featured_image.image_url}} class="img-responsive" alt = "Latest MARS Image">
      </div>
      <div class = "col-md-4 col-sm-4 col-xs-4">
          <div class= "row">
            <div class="col-md-12">
              <h4>Current Weather on MARS</h4>
              <p>{{weather_data.weather_data}}</p>
            </div>
          </div>
          <div class= "row">
            <div class="col-md-12">

              <h4>MARS Facts</h4>
              {{mars_facts.facts | safe}}
              
              
            </div>

        </div>  
    </div>

  </div>
  <h4 style="text-align: center;"><strong>MARS Hemispheres</strong></h4>
  <div>
    {% for item in hemisphere_links %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:5px; margin-bottom: 5px;">
            <img class="img-responsive" src={{item.url}} alt={{item.name}}>
              <p style="font-size: 20px;">{{item.name}}</p>
      </div>
      {% endfor %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
</body>

</html>